.homeWelcome {
  background-color: gray;
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    border-radius: 10px;
    height: 30%;
    width: 40%;
    background-color: rgb(49, 49, 144);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
